:root{
    --landing-detail: #FFC90A;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(98, 98, 98);
    padding: 0 20px;
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
}

#logo img{
    width: 80%;
    height: 60%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

#nav-bar ul li a{
 display: flex;
 align-items: center;
 justify-items: justify;
 margin: 10px 20px;
 flex-direction: colum;
 text-decoration: none;
 color: rgb(255, 255, 255, 87%);
}

#nav-bar .nav-link:hover{
    color: var(--landing-detail);
}

main{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main label{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5%;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form [type="email"]{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 30px;
    margin-bottom: 1%;
    border: 1px solid rgba(73, 70, 70, 0.87);
    border-radius: 2px;
}

#form [type="submit"]{
    display: flex;
    background-color: var(--landing-detail);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 30px;
    margin-bottom: 1%;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

#form [type="submit"]:hover{
    cursor:pointer;
    background-color: var(--landing-detail);
    border: 1px solid black;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100vw;
}

#info-grid img{
    width: 50px;
    height: 50px;
    margin-bottom: -5px;
}

.info-product{
    display: flex;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: -15px;
}

.sub-info{
    margin-bottom: 30px;
}

#video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video{
    margin: 30px;
    width: 660px;
    height: 400px;
}